**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# Exclude AliasVault data directories
database/
logs/
certificates/

# Exclude git directory
.git/

# Exclude development files
*.log
*.env
*.env.*

# Exclude local web app build, test and dev output
apps/web/dist
apps/web/playwright-report
apps/web/tests/test-results
apps/web/public/appsettings.Development.json
