@using AliasVault.ImportExport.Models
@using AliasVault.ImportExport.Importers
@using Microsoft.Extensions.Localization
@inject NavigationManager NavigationManager
@inject GlobalNotificationService GlobalNotificationService
@inject IStringLocalizerFactory LocalizerFactory
@inject ILogger<ImportService1Password1Pux> Logger

<ImportServiceCard
    ServiceName="1Password (1PUX)"
    Description="@Localizer["OnePassword1PuxDescription"]"
    LogoUrl="img/importers/1password.svg"
    ProcessBytesFileCallback="ProcessFile">
    <p class="text-gray-700 dark:text-gray-300 mb-4">@Localizer["OnePassword1PuxInstructionsPart1"]</p>
    <p class="text-gray-700 dark:text-gray-300 mb-4">@Localizer["OnePassword1PuxInstructionsPart2"]</p>
</ImportServiceCard>

@code {
    private IStringLocalizer Localizer => LocalizerFactory.Create("Components.Main.Settings.ImportExport.ImportServices", "AliasVault.Client");

    private static async Task<List<ImportedCredential>> ProcessFile(byte[] fileBytes)
    {
        return await OnePassword1PuxImporter.ImportFrom1PuxAsync(fileBytes);
    }
}
